.transition {
  transition: all .25s ease-in-out;
}

.success {
  color: #2C984F;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.6111em 1.222em;
  background: linear-gradient(360deg, #2A6D4A -0.36%, #2C984F 114.36%);
  border-radius: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.24;
  font-family: "Barlow", sans-serif;
  text-shadow: 0 1.12275px 6px rgba(0, 0, 0, 0.29);
  text-decoration: none;
  
  @media (max-width: 1023px) {
    font-size: 15px;
  }
  
  @media (max-width: 767px) {
    padding: 11px 21px;
    font-size: 12px;
    line-height: 1.2;
  }
  
  &:hover {
    background: #2A6D4A;
  }
}

a {
  color: #FFF;
  
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #FFF;
    text-decoration: none;
  }
}

.site {
  display: grid;
  grid-template: auto 1fr auto / 100%;
  min-height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(44, 152, 79, 0.9) 0%, rgba(33, 51, 41, 0.9) 100%), url('img/bg_page.webp') no-repeat;
  background-size: cover;
}

.top-line-section {
  margin-bottom: 0;
  padding: 10px;
  
  .widget_text {
    margin-bottom: 0;
    text-align: center;
    color: #FFF3D9;
    font-family: "Inter", sans-serif;
    opacity: 0.4;
    
    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 12.1px;
    }
    
    p {
      margin-top: 0;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.site-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 105px;
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)), rgba(44, 152, 79, 0.15);
  border-radius: 100px;
  
  @media (max-width: 1023px) {
    padding: 0 40px;
  }

  @media (max-width: 767px) {
    padding: 0 21px;
  }
  
  .main-navigation {
    margin-right: 75px;
    margin-bottom: 5px;
    
    @media (max-width: 1023px) {
      margin-right: 40px;
    }
    
    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: -3px;
    }
  }
}

.site-branding {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 260px;
  align-items: center;
  
  @media (max-width: 767px) {
    width: 144px;
  }
  
  &--small {
    width: 116px;
    
    .custom-logo {
      width: 34px;
    }

    .site-title {
      font-size: 8.05px;
      
      span {
        font-size: 5.37px;
      }
    }
  }
}

.custom-logo {
  vertical-align: middle;
  
  @media (max-width: 767px) {
    width: 42px;
  }
}

.site-title {
  font-weight: 700;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.022em;
  text-decoration: none;
  
  @media (max-width: 767px) {
    font-size: 11.3px;
  }
  
  span {
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    
    @media (max-width: 767px) {
      font-size: 7.53px;
    }
  }
}

.menu-toggle {
  width: 32px;
  height: 32px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 17'%3E%3Cpath fill='%23fff' d='M22.24 6.446H1.76c-.883 0-.96.715-.96 1.6 0 .885.077 1.6.96 1.6h20.48c.883 0 .96-.715.96-1.6 0-.885-.077-1.6-.96-1.6Zm0 7.4H1.76c-.883 0-.96-.285-.96.6s.077 1.6.96 1.6h20.48c.883 0 .96-.715.96-1.6 0-.885-.077-.6-.96-.6ZM1.76 2.246h20.48c.883 0 .96.285.96-.6s-.077-1.6-.96-1.6H1.76C.877.046.8.761.8 1.646c0 .885.077.6.96.6Z'/%3E%3C/svg%3E") center / 24px no-repeat;
  cursor: pointer;
}

.main-navigation {
  .nav-menu {
    gap: 33px;
    font-family: "Inter", sans-serif;
    
    @media (max-width: 1023px) {
      gap: 25px;
      font-size: 14px;
    }

    @media (max-width: 767px) {
      gap: 20px;
      font-size: 13px;
    }
  }

  .menu-main-menu-container {
    @media (max-width: 599px) {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)), rgba(44, 152, 79, 0.15);
    }

    .nav-menu {
      @media (max-width: 599px) {
        padding: 10px 0;
      }
    }

    a {
      @media (max-width: 599px) {
        padding: 5px 25px;
      }
    }
  }
}

.site-footer {
  padding: 24px 0 30px;
  background: rgba(18, 18, 18, 0.8);
  border-radius: 16px 16px 0 0;
  
  @media (max-width: 767px) {
    padding: 16px 0 16px;
  }
  
  &__top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 37px;
    padding-right: 76px;
    padding-left: 7px;
    
    @media (max-width: 1023px) {
      padding-right: 40px;
    }
    
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      // gap: 25px;
      gap: 9px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .site-branding {
      @media (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__top-col {
    @media (max-width: 767px) {
      &:first-child {
        order: -1;
      }

      &:nth-child(2) {
        margin-top: 30px;
      }

      &:last-child {
        order: -1;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-top: 48px;
    padding-left: 7px;
    
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 12px;
      margin-top: 10px;
      padding-left: 0;
    }
  }

  &__bottom-col {
    @media (max-width: 767px) {
      &:last-child {
        order: -1;
      }
    }
  }
  
  .widget,
  .menu {
    margin: 0;
  }

  .widget_nav_menu {
    padding-left: 37px;
    border-left: 1px solid rgba(132, 136, 151, 0.3);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.21916;
    
    @media (max-width: 1023px) {
      padding-left: 25px;
    }

    @media (max-width: 767px) {
      padding-left: 0;
      border-left: none;
      font-size: 9px;
      line-height: 10.97px;
    }
    
    .widget-title {
      margin: 0 0 14px;
      font-weight: 600;
      font-size: 12px;
      
      @media (max-width: 767px) {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 13.41px;
      }
    }
  }

  .menu {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    gap: 13px;
    padding-left: 0;
    
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
    }
    
    a {
      display: block;
      color: #848897;
      text-decoration: none;
      @extend .transition;
      
      &:hover {
        color: #2C984F;
      }
    }
  }

  .footer-copyright {
    @media (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  // .agreement-terms {
  //   margin-top: -3px;
  // }
}

.footer-copyright {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.219090909;
  color: #848897;
  
  @media (max-width: 767px) {
    width: 160px;
    max-width: 100%;
    text-align: center;
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 32px;
  
  @media (max-width: 767px) {
    justify-content: center;
    gap: 8px 32px;
  }

  &__item {
    @media (max-width: 767px) {
      max-width: 154px;
    }
  }
}

.site-main {
  width: 985px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 0 32px;
  
  @media (max-width: 767px) {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}

.intro-section {
  font-family: "Inter", sans-serif;
  text-align: center;
  
  @media (max-width: 767px) {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  &__title {
    margin: 0 0 14px;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.022em;
    
    @media (max-width: 767px) {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 16px;
    }
  }

  &__description {
    width: 780px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.019em;
    
    @media (max-width: 767px) {
      font-size: 14px;
    }
    
    & > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:first-child {
    margin-top: 14px;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
    
    @media (max-width: 1023px) {
      margin-bottom: 38px;
    }
    
    @media (max-width: 767px) {
      margin-bottom: 26px;
    }
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 100%;
  gap: 6px;
  margin: 0;
  padding: 0;
  
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Barlow", sans-serif;
    color: #2A6D4A;
    
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      margin-top: 3px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 17'%3E%3Crect width='16.85' height='16.85' x='.454' y='.075' fill='%232A6D4A' rx='8.425'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.133' d='m5.528 8.5 2.405 2.404 4.807-4.809'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &--betting-offer {
    align-content: center;
    min-height: 113px;
    // padding: 15px 0 15px 32px;
    padding: 0 0 0 32px;
    border-left: 1px solid #213329;
  }
}

.rating {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 9px;
  
  @media (max-width: 767px) {
    grid-template-columns: 100%;
    justify-items: center;
    gap: 3px;
  }

  &__label {
    margin-bottom: -3px;
    font-weight: 500;
    font-size: 8.86px;
    line-height: 10.63px;
    color: #213329;
    
    @media (max-width: 767px) {
      order: -1;
    }
    
    @media (min-width: 768px) {
      display: none;
    }
  }
  
  &__stars {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1px;
    margin: 0;
    padding: 0;
    
    @media (max-width: 767px) {
      gap: 0;
    }
  }
  
  &__star {
    width: 16px;
    height: 15px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 15'%3E%3Cpath fill='%23DFA000' d='M6.863 1.469a1 1 0 0 1 1.816 0l1.397 3.028a1 1 0 0 0 .79.574l3.312.393a1 1 0 0 1 .561 1.727l-2.448 2.264a1 1 0 0 0-.302.929l.65 3.27a1 1 0 0 1-1.47 1.068l-2.91-1.629a1 1 0 0 0-.976 0l-2.91 1.63a1 1 0 0 1-1.47-1.068l.65-3.271a1 1 0 0 0-.301-.93L.804 7.192a1 1 0 0 1 .56-1.727l3.312-.393a1 1 0 0 0 .79-.574l1.397-3.028Z'/%3E%3C/svg%3E");
    
    @media (max-width: 767px) {
      width: 13.29px;
      height: 13.29px;
    }
  }

  &__mark {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    font-family: "Barlow", sans-serif;
    color: #003248;
    
    @media (max-width: 767px) {
      order: -1;
      margin-bottom: -3px;
      font-size: 23.63px;
      line-height: 28.36px;
    }
  }
}

.betting-offers {
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;
  
  @media (max-width: 767px) {
    gap: 19px;
  }
  
  &:not(:last-child) {
    margin-bottom: 32px;
    
    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
}

.betting-offer {
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0FFE9 100%);
  box-shadow: 4px 4px 6.8px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font-family: "Barlow", sans-serif;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1px;
    border-radius: 4px;
    background: linear-gradient(90.63deg, #CBAA64 -1%, #213329 52.81%, #234334 102.48%);
  }
  
  &__label-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    font-weight: 700;
    color: #FFF;
  }
  
  &__number {
    padding: 2px 10px;
    border-top-left-radius: 4px;
    background: #CBAA64;
    font-size: 15.08px;
    line-height: 1.19960;
    
    @media (max-width: 767px) {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
  
  &__label {
    padding: 5.4px 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #161F19;
    font-size: 12px;
    line-height: 1.219167;
    font-family: "Montserrat", sans-serif;
    
    @media (max-width: 767px) {
      padding: 6.5px 7px;
      font-size: 10px;
      line-height: 1.219;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 0.8fr 1.6fr 1fr auto;
    align-items: center;
    gap: 32px;
    padding: 6px 29px 31px 28px;
    
    @media (max-width: 1023px) {
      grid-template-columns: 0.5fr 1.3fr 1fr auto;
    }
    
    @media (max-width: 767px) {
      grid-template-areas: "image title"
                           "rating rating";
      grid-template-columns: 0.7fr 1fr;
      gap: 9px 12px;
      padding: 0 15px 20px;
    }
  }

  &__img {
    @media (max-width: 767px) {
      // max-width: 80%;
      // max-width: 117px;
      // max-height: 44px;
      // max-width: none;
    }
  }
  
  &__title-wrapper {
    color: #213329;
    text-align: center;
    
    @media (max-width: 767px) {
      margin-top: -5px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    
    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 13.2px;
    }
  }

  &__profit {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.05882352941;
    
    @media (max-width: 767px) {
      font-size: 21px;
      line-height: 25.2px;
    }
    
    & > p {
      margin: 0;
    }
  }

  &__conditions {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__btn-and-rating {
    @media (max-width: 767px) {
      grid-area: rating;
      display: grid;
      grid-template-columns: 97px auto;
      grid-template-areas: "rating button";
      justify-content: space-between;
      align-items: start;
    }
  }

  &__btn {
    margin-top: -8px;
    margin-bottom: 9px;
    
    @media (max-width: 767px) {
      margin-top: 6px;
      margin-bottom: 0;
    }
  }

  &__rating {
    @media (max-width: 767px) {
      grid-area: rating;
    }
  }
}

.definitions-list-section {
  padding: 32px;
  background: rgba(33, 51, 41, 0.8);
  border-radius: 4px;
  color: #FFF;
  
  @media (max-width: 1023px) {
    padding: 24px;
  }
  
  @media (max-width: 767px) {
    padding: 16px;
  }
  
  dl {
    margin: 0;
    line-height: 1.5;
    
    dt {
      color: #CBAA64;
      letter-spacing: -0.022em;
    }

    dd {
      margin-left: 0;
      margin-bottom: 23px;
      letter-spacing: -0.019em;
      font-size: 14px;
      
      @media (max-width: 767px) {
        margin-bottom: 22px;
        margin-right: 5px;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.agreement-terms {
  font-size: 12px;
  line-height: 1.5;
  
  @media (max-width: 767px) {
    text-align: center;
  }
  
  &__copyright {
    margin-bottom: 14px;
    font-weight: 700;
    
    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 14px;
    }
    
    & > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    padding-right: 30px;
    font-weight: 500;
    color: #9F9F9F;
    
    @media (max-width: 1023px) {
      padding-right: 0;
    }

    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 1.4;
    }
    
    & > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
